{% extends "text.html" %}

{% block title %}{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
  <div class="alert alert-danger" role="alert">
    {{ message }}
  </div>
{% endfor %}
{% endif %}
<!--Topside-->
<div class="container">
  <div class="row mt-4">
    <div class="col-md-2"></div>
      <div class="col-md-8">
          
                  
              </div>
          </div>
      </div>
      <form method="post" action="{% url 'vote' %}" class="col-md-10">
        {% csrf_token %}
        {% for post in positions %}
        <div class="card mt-4">
          <div class="card-header bg-info text-white">
            <h2>{{ post.title }}</h2>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                  {% for cand in candidates %}
                  {% if cand.position.title == post.title %}
                  <div class="custom-control custom-radio">
                    <input type="radio" id="id_{{cand.id}}" name="{{ cand.position}}" value="{{cand.id}}" class="custom-control-input" required>
                    <label class="custom-control-label" for="id_{{cand.id}}">{{cand.name}} <a href="{% url 'detail' cand.id %}">Detail</a></label>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
            </div>
        </div>
      </div>
        {% endfor %}

        {% if request.user.is_staff and user.is_superuser %}
        

        {% else %}
        <br><input type="submit" class="btn btn-outline-success btn-lg" value="VOTE">
        {% endif %}
       
    </form>
  </div>
</div>
<!--End Topside-->


 
  <ul>
   
     
   
  </ul>
{% endblock %}
