
    <!-- PROJECTS -->
    {% load static %}
    <section class="project py-5" id="project">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      
                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <img src="https://s3.amazonaws.com/media-p.slid.es/uploads/675542/images/3683173/pasted-from-clipboard.png" class="img-fluid" alt="project image">
                          </div>
                        </div> 

                  

                       
                      </div>

                  </div>
                </div>
        </div>
    </section>

    

   