{% extends "text.html" %}

{% block title %}Result Page{% endblock %}

{% block content %}
  <h2 class="text-center">Candidates</h2>
  <table class="table table-bordered table-sm text-center">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Candidate Position</th>
        
      </tr>
    </thead>
    <tbody>
      {% for i in obj.candidate_set.all %}
        <tr>
          <td>{{ i.name }}</td>
          <td>{{ i.position }}</td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}


